{% if errorHappened %}
{% partial __SELF__~'::flash-messages' %}
{% else %}

<div class="ct-popup-confirm">
    <div class="ct-popup-content">
        <a href="#" class="ct-close-popup-content"></a>
        <h2>{{'Thông tin đã được gửi thành công' |_}}</h2>
        <p>
            {{'Cám ơn quý khách đã liên hệ' |_}}
        </p>
    </div>
</div>

{% endif %}