{% if homepage %}

<section class="section ct-s-section ct-s-home-slider">
    <div class="ct-home-slider">
        {% if homepage.background =='image' %}
        {% for item in homepage.banner %}
        <figure>
            <img src="{{item.path}}" />
        </figure>
        {% endfor %}
        {% else %}
        <video autoplay muted loop id="myVideo">
            <source src="{{homepage.video.path}}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        {% endif %}
    </div>
    <div class="ct-tooltip">
        <h3>{{'Đón tết tài lộ'|_}}c</h3>
        <h4>{{'Đổi bếp mới' |_}}<br>
            {{'Tặng bộ phụ kiện'|_}}</h4>
        <h6>{{'Trị giá'|_}}</h6>
        <h2>50.000.000 <span>vnđ</span> </h2>
        <a href="#lienhe" class="ct-btn">{{'NHẬN NGAY ƯU ĐÃ'|_}}I</a>
    </div>
</section>
{% partial "home-facilities" %}
{% partial "home-gallery" %}
{% partial "home-contact" %}

{% endif %}