/* ----------------------- External Font ----------------------- */
/* ---------- Media Queries ---------- */
/* ---------- Placeholder Style ---------- */
/* ---------- Center an element (absolute) ---------- */
/* ---------- Center an element (relative) ---------- */
/* ---------- Animation Mixin Setup ---------- */
/* ---------- Gradient ---------- */
/* ----------------------- Rounded ----------------------- */
/* ----------------------- Opacity ----------------------- */
/* ----------------------- Transform ----------------------- */
/* -------------------- Transform Delay -------------------- */
/* -------------------- Animation Delay -------------------- */
/* ----------------------- Rotation ----------------------- */
/* ----------------------- Scale ----------------------- */
/* -------------------- Scale Horizontal -------------------- */
/* ------------------ Transform Origin ------------------ */
/* ----------------------- Transition ----------------------- */
/* ------------------ Transition Specific ------------------ */
/* ----------------------- Pseudo ----------------------- */
/* ----------------------- Filter ----------------------- */
/* 
  grayscale      ex: filter: grayscale(100%);
  sepia          ex: filter: sepia(100%);
  saturate       ex: filter: saturate(0%);
  hue-rotate     ex: filter: hue-rotate(45deg);
  invert         ex: filter: invert(100%);
  brightness     ex: filter: brightness(15%);
  contrast       ex: filter: contrast(200%);
  blur           ex: filter: blur(2px);
*/
/* --------------------- Box Shadow --------------------- */
/* --------------------- Text Shadow --------------------- */
/* ----------------------- Extra Mixin ----------------------- */
/* Can remove in another project */
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese");
html {
  overflow-x: hidden !important; }

body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #6D6E70;
  font-weight: 400; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:last-child {
  margin-bottom: 0; }

input, textarea {
  outline: none; }

button {
  outline: none; }

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%; }
  table tr {
    padding: 0;
    margin: 0; }
  table th {
    font-style: normal;
    padding: 0;
    margin: 0; }
  table td {
    padding: 0;
    margin: 0; }

address {
  font-style: normal; }

blockquote {
  margin: 0;
  padding: 0; }

input,
textarea {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  height: 32px;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  background: transparent; }
  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active {
    -webkit-text-fill-color: inherit;
    transition-property: all;
    transition-delay: 99999s;
    -webkit-transition-delay: 99999s; }

textarea {
  height: 72px;
  padding-top: 8px; }

input[type='submit'] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none;
  font-size: 13px; }
  @media only screen and (min-width: 1280px) {
    a {
      font-size: 14px; } }
  a:hover {
    text-decoration: none; }

p {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4em; }
  p.is-small {
    font-size: 13px;
    line-height: 14px; }
  p.is-medium {
    font-size: 14px;
    line-height: 18px; }
  p.is-large {
    font-size: 20px;
    line-height: 26px; }

.clearfix, .ct-s-section .ct-b-container, .ct-b-container {
  *zoom: 1; }
  .clearfix:before, .ct-s-section .ct-b-container:before, .ct-b-container:before, .clearfix:after, .ct-s-section .ct-b-container:after, .ct-b-container:after {
    content: " ";
    display: table; }
  .clearfix:after, .ct-s-section .ct-b-container:after, .ct-b-container:after {
    clear: both; }

.row-fluid {
  *zoom: 1; }
  .row-fluid:before {
    content: "";
    display: table; }
  .row-fluid:after {
    content: "";
    display: table;
    clear: both; }
  .row-fluid [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
    .row-fluid [class*="span-"]:first-child {
      margin-left: 0 !important; }
  .row-fluid .no-gutter {
    margin-left: 0 !important; }
  .row-fluid .pull-right {
    float: right; }
  .row-fluid .span-1 {
    width: 100%; }
  .row-fluid .span-2 {
    width: 100%; }
  .row-fluid .span-3 {
    width: 100%; }
  .row-fluid .span-4 {
    width: 100%; }
  .row-fluid .span-5 {
    width: 100%; }
  .row-fluid .span-6 {
    width: 100%; }
  .row-fluid .span-7 {
    width: 100%; }
  .row-fluid .span-8 {
    width: 100%; }
  .row-fluid .span-9 {
    width: 100%; }
  .row-fluid .span-10 {
    width: 100%; }
  .row-fluid .span-11 {
    width: 100%; }
  .row-fluid .span-12 {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .row-fluid .span-1 {
      width: 6.3802083333%; }
    .row-fluid [class*="span-"].offset-1 {
      margin-left: 8.4635416667% !important; }
    .row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.4635416667% !important;
      margin-left: 0 !important; }
    .row-fluid .span-2 {
      width: 14.84375%; }
    .row-fluid [class*="span-"].offset-2 {
      margin-left: 16.9270833333% !important; }
    .row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.9270833333% !important;
      margin-left: 0 !important; }
    .row-fluid .span-3 {
      width: 23.3072916667%; }
    .row-fluid [class*="span-"].offset-3 {
      margin-left: 25.390625% !important; }
    .row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.390625% !important;
      margin-left: 0 !important; }
    .row-fluid .span-4 {
      width: 31.7708333333%; }
    .row-fluid [class*="span-"].offset-4 {
      margin-left: 33.8541666667% !important; }
    .row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.8541666667% !important;
      margin-left: 0 !important; }
    .row-fluid .span-5 {
      width: 40.234375%; }
    .row-fluid [class*="span-"].offset-5 {
      margin-left: 42.3177083333% !important; }
    .row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.3177083333% !important;
      margin-left: 0 !important; }
    .row-fluid .span-6 {
      width: 48.6979166667%; }
    .row-fluid [class*="span-"].offset-6 {
      margin-left: 50.78125% !important; }
    .row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.78125% !important;
      margin-left: 0 !important; }
    .row-fluid .span-7 {
      width: 57.1614583333%; }
    .row-fluid [class*="span-"].offset-7 {
      margin-left: 59.2447916667% !important; }
    .row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.2447916667% !important;
      margin-left: 0 !important; }
    .row-fluid .span-8 {
      width: 65.625%; }
    .row-fluid [class*="span-"].offset-8 {
      margin-left: 67.7083333333% !important; }
    .row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.7083333333% !important;
      margin-left: 0 !important; }
    .row-fluid .span-9 {
      width: 74.0885416667%; }
    .row-fluid [class*="span-"].offset-9 {
      margin-left: 76.171875% !important; }
    .row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.171875% !important;
      margin-left: 0 !important; }
    .row-fluid .span-10 {
      width: 82.5520833333%; }
    .row-fluid [class*="span-"].offset-10 {
      margin-left: 84.6354166667% !important; }
    .row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 84.6354166667% !important;
      margin-left: 0 !important; }
    .row-fluid .span-11 {
      width: 91.015625%; }
    .row-fluid [class*="span-"].offset-11 {
      margin-left: 93.0989583333% !important; }
    .row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 93.0989583333% !important;
      margin-left: 0 !important; }
    .row-fluid .span-12 {
      width: 99.4791666667%; }
    .row-fluid [class*="span-"].offset-12 {
      margin-left: 101.5625% !important; }
    .row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 101.5625% !important;
      margin-left: 0 !important; }
    .row-fluid [class*="span-"],
    .row-fluid [class*="span-"].has-gutter {
      margin-left: 2.0833333333%; } }
  @media only screen and (min-width: 1280px) {
    .row-fluid .span-1 {
      width: 5.9829059829%; }
    .row-fluid .offset-1 {
      margin-left: 8.547008547% !important; }
    .row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.547008547% !important;
      margin-left: 0 !important; }
    .row-fluid .span-2 {
      width: 14.5299145299%; }
    .row-fluid .offset-2 {
      margin-left: 17.094017094% !important; }
    .row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 17.094017094% !important;
      margin-left: 0 !important; }
    .row-fluid .span-3 {
      width: 23.0769230769%; }
    .row-fluid .offset-3 {
      margin-left: 25.641025641% !important; }
    .row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.641025641% !important;
      margin-left: 0 !important; }
    .row-fluid .span-4 {
      width: 31.6239316239%; }
    .row-fluid .offset-4 {
      margin-left: 34.188034188% !important; }
    .row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 34.188034188% !important;
      margin-left: 0 !important; }
    .row-fluid .span-5 {
      width: 40.1709401709%; }
    .row-fluid .offset-5 {
      margin-left: 42.735042735% !important; }
    .row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.735042735% !important;
      margin-left: 0 !important; }
    .row-fluid .span-6 {
      width: 48.7179487179%; }
    .row-fluid .offset-6 {
      margin-left: 51.2820512821% !important; }
    .row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 51.2820512821% !important;
      margin-left: 0 !important; }
    .row-fluid .span-7 {
      width: 57.264957265%; }
    .row-fluid .offset-7 {
      margin-left: 59.8290598291% !important; }
    .row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.8290598291% !important;
      margin-left: 0 !important; }
    .row-fluid .span-8 {
      width: 65.811965812%; }
    .row-fluid .offset-8 {
      margin-left: 68.3760683761% !important; }
    .row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 68.3760683761% !important;
      margin-left: 0 !important; }
    .row-fluid .span-9 {
      width: 74.358974359%; }
    .row-fluid .offset-9 {
      margin-left: 76.9230769231% !important; }
    .row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.9230769231% !important;
      margin-left: 0 !important; }
    .row-fluid .span-10 {
      width: 82.905982906%; }
    .row-fluid .offset-10 {
      margin-left: 85.4700854701% !important; }
    .row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 85.4700854701% !important;
      margin-left: 0 !important; }
    .row-fluid .span-11 {
      width: 91.452991453%; }
    .row-fluid .offset-11 {
      margin-left: 94.0170940171% !important; }
    .row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 94.0170940171% !important;
      margin-left: 0 !important; }
    .row-fluid .span-12 {
      width: 100%; }
    .row-fluid .offset-12 {
      margin-left: 102.5641025641% !important; }
    .row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 102.5641025641% !important;
      margin-left: 0 !important; }
    .row-fluid [class*="span-"],
    .row-fluid [class*="span-"].has-gutter {
      margin-left: 2.5641025641%; } }

.mobile-hide {
  display: none !important; }

@media only screen and (min-width: 768px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: none !important; } }
@media only screen and (min-width: 1280px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: inherit !important; }

  .desktop-hide {
    display: none !important; } }
.ct-s-section {
  position: relative;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media only screen and (min-width: 1280px) {
    .ct-s-section {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .ct-s-section .ct-b-container {
    width: 100%;
    position: relative;
    padding-left: 28px;
    padding-right: 28px;
    max-width: 1230px; }
    @media only screen and (min-width: 1280px) {
      .ct-s-section .ct-b-container {
        margin: 0 auto; } }

.ct-b-container {
  position: relative;
  width: 100%;
  padding-left: 28px;
  padding-right: 28px;
  max-width: 1230px; }
  @media only screen and (min-width: 1280px) {
    .ct-b-container {
      margin: 0 auto; } }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 1.2em;
  font-weight: 700; }

h1 {
  font-size: 50px;
  line-height: 56px; }

h2 {
  font-size: 40px;
  line-height: 46px; }

h3 {
  font-size: 28px;
  line-height: 32px; }

h4, h5, h6 {
  font-size: 20px;
  line-height: 24px; }

blockquote {
  font-size: 20px;
  line-height: 24px; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 14px; }

  h1 {
    font-size: 40px;
    line-height: 44px; }

  h2 {
    font-size: 32px;
    line-height: 36px; }

  h3 {
    font-size: 24px;
    line-height: 28px; }

  button {
    width: auto; } }
@media only screen and (min-width: 1280px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px; }

  h1 {
    font-size: 48px;
    line-height: 50px; }

  h2 {
    font-size: 36px;
    line-height: 40px; }

  h3 {
    font-size: 28px;
    line-height: 32px; }

  blockquote {
    font-size: 24px;
    line-height: 28px; } }
.gmnoprint {
  display: none; }

button[type=submit] {
  cursor: pointer; }

main {
  position: relative;
  z-index: 2; }

.slick-slider {
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit; }

.readmore-btn {
  display: inline-block;
  padding: 8px 35px;
  border: 1px solid #fab532;
  background: #ffffff;
  color: #383838;
  border-radius: 25px;
  font-weight: 700;
  font-size: 12px; }
  .readmore-btn:hover {
    color: #ffffff;
    background-color: #f17430;
    box-shadow: 1px 1px 9px 3px rgba(17, 17, 17, 0.15); }

.title-section {
  font-size: 33px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #383838; }

p a {
  font-size: 16px;
  color: #6D6E70; }

.title-icon {
  position: relative;
  text-align: center;
  font-size: 38px;
  margin-bottom: 80px; }
  .title-icon:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/title-icon.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 35px;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 50%);
    z-index: 1;
    width: 420px;
    max-width: 100%; }
  .title-icon.while-icon:before {
    background-image: url(../images/title-icon-white.png); }

.ct-container-page .main {
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }
  @media only screen and (min-width: 1280px) {
    .ct-container-page .main {
      padding-left: 5%;
      padding-right: 5%; } }

.des {
  margin: 30px 0px; }
  .des p {
    font-size: 15px;
    color: #383838;
    line-height: 25px; }

.hide {
  visibility: hidden;
  position: absolute; }

.slick-slide img {
  height: 100%;
  width: 100%; }

.wrapper-menu {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out; }
  .wrapper-menu .line-menu {
    background-color: #fab532;
    border-radius: 5px;
    width: 100%;
    height: 4px; }
    .wrapper-menu .line-menu.half {
      width: 50%; }
    .wrapper-menu .line-menu.end {
      align-self: flex-end;
      -webkit-transition: all transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57) ease-in-out;
      -moz-transition: all transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57) ease-in-out;
      -o-transition: all transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57) ease-in-out;
      transition: all transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57) ease-in-out;
      transform-origin: left; }
    .wrapper-menu .line-menu.start {
      -webkit-transition: all transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57) ease-in-out;
      -moz-transition: all transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57) ease-in-out;
      -o-transition: all transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57) ease-in-out;
      transition: all transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57) ease-in-out;
      transform-origin: right; }
  .open .wrapper-menu {
    transform: rotate(-45deg); }
    .open .wrapper-menu .line-menu {
      background-color: white; }
      .open .wrapper-menu .line-menu.start {
        transform: rotate(-90deg) translateX(3px); }
      .open .wrapper-menu .line-menu.end {
        transform: rotate(-90deg) translateX(-3px); }

.menu-background {
  visibility: hidden;
  width: 300%;
  height: 400px;
  position: absolute;
  left: -130%;
  background-color: white;
  transition: background-position 0.5s, transform 0.5s 0.5s, visibility 0.5s 1s; }
  .open .menu-background {
    visibility: visible;
    transition: background-position 0.5s, transform 0.5s 0.5s; }
  .menu-background.top {
    transform: rotate(-45deg) translateY(-150%);
    background: linear-gradient(to top, #fab532 50%, #fab532 50%);
    background-size: 100% 200%;
    background-position: -100% 100%; }
    .open .menu-background.top {
      transform: rotate(-45deg) translateY(-49%);
      background-position: 0 0; }
  .menu-background.middle {
    transform: rotate(-45deg) translateY(50%) scaleY(0);
    background: #fab532; }
    .open .menu-background.middle {
      transform: rotate(-45deg) translateY(50%) scaleY(1); }
  .menu-background.bottom {
    transform: rotate(-45deg) translateY(250%);
    background: linear-gradient(to bottom, #fab532 50%, #fab532 50%);
    background-size: 100% 200%;
    background-position: 0 -100%; }
    .open .menu-background.bottom {
      transform: rotate(-45deg) translateY(149%);
      background-position: 0 0; }

.ct-box-item .top-content {
  position: relative; }
  .ct-box-item .top-content .show-img {
    position: relative;
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    transition: all 0.3s ease-in; }
    @media only screen and (min-width: 1600px) {
      .ct-box-item .top-content .show-img {
        height: 200px; } }
    .ct-box-item .top-content .show-img a {
      width: 100%;
      position: absolute;
      height: 100%;
      z-index: 10; }
      .ct-box-item .top-content .show-img a:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); }
  .ct-box-item .top-content .title-img {
    padding: 12px;
    position: absolute;
    z-index: 11;
    bottom: 0;
    color: #ffffff;
    width: 100%; }
    .ct-box-item .top-content .title-img:after {
      content: '';
      display: block;
      height: 2px;
      width: 50%;
      margin-top: 10px;
      background: #f17430;
      transition: all 0.3s ease-in; }
    .ct-box-item .top-content .title-img a {
      color: #ffffff;
      font-size: 20px;
      font-weight: 700; }
  .ct-box-item .top-content:hover .show-img a, .ct-box-item .top-content:active .show-img a {
    -webkit-box-shadow: 5px -7px 9px -3px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 5px -7px 9px -3px rgba(0, 0, 0, 0.51);
    box-shadow: 5px -7px 9px -3px rgba(0, 0, 0, 0.51); }
  .ct-box-item .top-content:hover a::after, .ct-box-item .top-content:active a::after {
    opacity: 0; }
  .ct-box-item .top-content:hover .title-img, .ct-box-item .top-content:active .title-img {
    background-color: #f17430;
    width: 100%; }
    .ct-box-item .top-content:hover .title-img::after, .ct-box-item .top-content:active .title-img::after {
      width: 100%;
      background-color: #ffffff; }
.ct-box-item .bottom-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 100px; }
  .ct-box-item .bottom-content p {
    text-align: justify;
    line-height: 25px;
    font-size: 15px; }

.ct-btn {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  font-size: 11px;
  background-color: #f17430;
  border-radius: 25px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border: 0; }
  .ct-btn:hover {
    background-color: white;
    color: #f17430; }
  @media only screen and (min-width: 1280px) {
    .ct-btn {
      font-size: 16px;
      height: 50px;
      line-height: 46px;
      padding: 0 50px;
      border: 2px solid #f17430;
      background-color: transparent;
      color: #f17430; }
      .ct-btn:hover {
        background-color: #f17430;
        color: white; } }
  .ct-btn.orange {
    color: white;
    background-color: #f17430; }
    .ct-btn.orange:hover {
      background-color: white;
      color: #f17430; }
  .ct-btn:disabled {
    opacity: 0.4; }
    .ct-btn:disabled:hover {
      opacity: 0.4;
      background-color: #f17430;
      cursor: inherit;
      color: white; }

.ct-title {
  text-align: center;
  color: #f17430; }
  .ct-title h2 {
    font-size: 22px;
    margin-bottom: 8px;
    line-height: 1;
    font-weight: 300;
    color: white;
    text-transform: uppercase; }
    @media only screen and (min-width: 1280px) {
      .ct-title h2 {
        font-size: 42px;
        margin-bottom: 20px; } }
  .ct-title h3 {
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 1; }
    @media only screen and (min-width: 1280px) {
      .ct-title h3 {
        font-size: 42px; } }
  .ct-title img {
    margin: 0 auto;
    max-width: 250px; }
    @media only screen and (min-width: 1280px) {
      .ct-title img {
        max-width: auto; } }
  .ct-title.ct-white {
    color: white; }
    .ct-title.ct-white img {
      filter: brightness(0) invert(1); }

.ct-start {
  color: #fab532;
  font-size: 24px;
  line-height: 20px; }
  @media only screen and (min-width: 1280px) {
    .ct-start {
      font-size: 45px;
      line-height: 40px; } }

.slick-slide:focus {
  outline: none; }
.slick-slide div:focus, .slick-slide a:focus, .slick-slide p:focus {
  outline: none; }

#fp-nav ul li a span {
  background: white !important; }

@-webkit-keyframes waveAnimation {
  0% {
    transform: scale(1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.8);
    opacity: 0; } }
@-moz-keyframes waveAnimation {
  0% {
    transform: scale(1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.8);
    opacity: 0; } }
@-ms-keyframes waveAnimation {
  0% {
    transform: scale(1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.8);
    opacity: 0; } }
@-o-keyframes waveAnimation {
  0% {
    transform: scale(1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.8);
    opacity: 0; } }
@keyframes waveAnimation {
  0% {
    transform: scale(1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.8);
    opacity: 0; } }
@-webkit-keyframes loading {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-moz-keyframes loading {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-ms-keyframes loading {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-o-keyframes loading {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes loading {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@media only screen and (min-width: 1280px) {
  body {
    font-size: 16px; }
    body p {
      font-size: 16px;
      line-height: 1.5em; } }
.mfp-zoom-out-cur .mfp-image-holder .mfp-content .mfp-figure button {
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }

.mfp-iframe-scaler button {
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }

.ct-b-loading-wrapper {
  z-index: 100000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #04203e;
  background-image: url(../images/bg-loading.jpg);
  background-size: cover;
  background-position: center center; }
  .ct-b-loading-wrapper .ct-img {
    width: 100%;
    height: 100%;
    position: relative;
    animation: loading 3s linear infinite; }
    .ct-b-loading-wrapper .ct-img img {
      margin: 0 auto;
      width: 20%;
      margin: 0 auto;
      max-width: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.ct-nav-icon {
  width: 30px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1; }
  .ct-nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #c6c6c6;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .ct-nav-icon span:nth-child(1) {
      top: 0; }
    .ct-nav-icon span:nth-child(2) {
      top: 9px;
      background-color: #c6c6c6; }
    .ct-nav-icon span:nth-child(3) {
      top: 18px; }
  .show-menu .ct-nav-icon span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }
  .show-menu .ct-nav-icon span:nth-child(2) {
    opacity: 0;
    left: -20px; }
  .show-menu .ct-nav-icon span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.slick-dots {
  left: 0; }
  .slick-dots li {
    margin: 0 2px; }
    .slick-dots li button::before {
      font-size: 40px;
      opacity: 1;
      content: "";
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #f17430;
      top: 5px;
      left: 5px; }
    .slick-dots li.slick-active button::before {
      opacity: 1;
      background-color: #f17430; }

header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 11;
  padding: 10px 0; }
  header .ct-b-container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%; }
    header .ct-b-container::before, header .ct-b-container::after {
      display: none; }
  header figure {
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
    header figure img {
      height: 32px; }
  header .nav-center {
    display: inline-block;
    vertical-align: middle; }
    header .nav-center h5 {
      color: white;
      font-size: 14px;
      text-transform: uppercase; }
      header .nav-center h5 span {
        color: #f17430; }
  header .ct-btn {
    text-transform: uppercase; }
  header .ct-btn-phone {
    background-color: transparent;
    padding: 0 15px;
    border: 1px solid #f17430;
    display: inline-flex;
    color: #f17430;
    line-height: 28px; }
    header .ct-btn-phone img {
      width: 12px;
      margin-right: 3px; }
    header .ct-btn-phone:hover img {
      filter: brightness(0) invert(1); }
  header .nav-right {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .nav-right .ct-sns {
      display: none; }
      header .nav-right .ct-sns li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
        header .nav-right .ct-sns li:last-child {
          margin-right: 0; }
        header .nav-right .ct-sns li a {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #f17430;
          display: flex;
          align-items: center;
          justify-content: center; }
          header .nav-right .ct-sns li a:hover {
            background-color: #f17430; }
            header .nav-right .ct-sns li a:hover img {
              filter: brightness(0) invert(1); }
          header .nav-right .ct-sns li a img {
            height: 16px;
            margin: 0 auto; }
    header .nav-right .ct-btn-phone {
      margin-right: 10px; }
    header .nav-right .ct-lang {
      position: relative; }
      header .nav-right .ct-lang .js-toggle-lang {
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer; }
        header .nav-right .ct-lang .js-toggle-lang:hover {
          cursor: pointer; }
      header .nav-right .ct-lang i {
        opacity: .4; }
      header .nav-right .ct-lang ul {
        display: none;
        position: absolute;
        right: 0;
        bottom: -5px;
        -webkit-transform: translate(0, 100%);
        -moz-transform: translate(0, 100%);
        -o-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%); }
        header .nav-right .ct-lang ul li.active {
          display: none; }
        header .nav-right .ct-lang ul li a {
          padding: 5px 25px;
          color: black;
          background-color: white; }
  header.open-lang {
    color: rebeccapurple; }
    header.open-lang .nav-right .ct-lang ul {
      display: block; }
  @media only screen and (min-width: 1280px) {
    header {
      padding: 10px 0; }
      header .ct-b-container {
        padding: 0 45px; }
      header figure img {
        height: 62px; }
      header .nav-center {
        display: flex;
        align-items: center;
        justify-content: center; }
        header .nav-center h5 {
          margin-right: 30px;
          font-size: 16px;
          margin-bottom: 0; } }
      @media only screen and (min-width: 1280px) and (min-width: 1800px) {
        header .nav-center h5 {
          font-size: 20px; } }
  @media only screen and (min-width: 1280px) {
        header .nav-center a {
          font-size: 15px;
          display: flex;
          align-items: center;
          border-width: 2px; } }
      @media only screen and (min-width: 1280px) and (min-width: 1800px) {
        header .nav-center a {
          font-size: 18px; } }
  @media only screen and (min-width: 1280px) {
          header .nav-center a img {
            width: 17px; }
          header .nav-center a.ct-btn {
            padding: 0 30px; }
          header .nav-center a.ct-btn-phone {
            margin-right: 30px;
            padding: 0 30px; }
      header .nav-right .ct-sns {
        margin-right: 30px; } }
  @media only screen and (min-width: 1800px) {
    header {
      padding: 19px 0; } }

.ct-tooltip {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 475px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }
  .ct-tooltip h3 {
    color: #f17430;
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1.2em;
    text-transform: uppercase; }
  .ct-tooltip h4 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.2em; }
  .ct-tooltip h6 {
    color: white;
    font-size: 13px;
    line-height: 1.2em;
    margin-bottom: 10px; }
  .ct-tooltip h2 {
    color: #f17430;
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 40px;
    position: relative; }
    .ct-tooltip h2 span {
      text-transform: uppercase;
      position: absolute;
      top: -5px;
      font-size: 0.5em; }
  .ct-tooltip .ct-btn {
    padding: 0 15px;
    background-color: #f17430;
    color: white; }
    .ct-tooltip .ct-btn:hover {
      background-color: white;
      color: #f17430;
      border-color: white; }
  @media only screen and (min-width: 1280px) {
    .ct-tooltip {
      top: 56%;
      right: 150px;
      left: initial;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      padding: 70px; }
      .ct-tooltip h3 {
        color: #f17430;
        font-size: 36px;
        margin-bottom: 20px; }
      .ct-tooltip h4 {
        color: white;
        font-size: 30px;
        margin-bottom: 10px; }
      .ct-tooltip h6 {
        color: white;
        font-size: 18px;
        margin-bottom: 10px; }
      .ct-tooltip h2 {
        color: #f17430;
        font-size: 42px; }
      .ct-tooltip .ct-btn {
        padding: 0 30px; } }

.homepage footer {
  display: none; }

.ct-home-slider figure {
  width: 100%;
  height: 100vh; }
  .ct-home-slider figure img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.ct-home-slider video {
  height: 100vh;
  object-fit: cover;
  width: 100%; }

.ct-b-slider-subpage {
  position: relative; }
  .ct-b-slider-subpage figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 2;
    top: 58%; }
    .ct-b-slider-subpage figure img {
      width: 64%;
      margin: 0 auto; }
    @media only screen and (min-width: 1280px) {
      .ct-b-slider-subpage figure img {
        width: 50%; } }
    @media only screen and (min-width: 1800px) {
      .ct-b-slider-subpage figure img {
        width: 64%; } }

.chudautupage .ct-b-slider-subpage figure {
  top: 58%; }

.ct-slider {
  position: relative; }
  .ct-slider::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    background-color: rgba(5, 32, 61, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
  .ct-slider.ct-chudautu::before {
    background-color: #151515cc; }
  .ct-slider .item {
    width: 100%;
    height: calc(100vh/3);
    z-index: 2;
    position: relative; }
    .ct-slider .item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  @media only screen and (min-width: 1280px) {
    .ct-slider .item {
      height: calc(100vh/2); } }
  @media only screen and (min-width: 1800px) {
    .ct-slider .item {
      height: 430px; } }

.ct-b-bottom-navi {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 25px;
  z-index: 3;
  -webkit-transition: all 700ms ease-in-out;
  -moz-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out; }
  @media only screen and (min-width: 1280px) {
    .ct-b-bottom-navi {
      display: none; } }
  .add-bottom-navi .ct-b-bottom-navi {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out; }
  .ct-b-bottom-navi .ct-btn {
    text-transform: uppercase;
    font-size: 12px;
    height: 30px;
    line-height: 32px;
    border: 0;
    padding: 0 20px; }
    .ct-b-bottom-navi .ct-btn:hover {
      border: 0; }
  .ct-b-bottom-navi .ct-bottom-right {
    display: flex;
    align-items: center; }
    .ct-b-bottom-navi .ct-bottom-right ul {
      display: flex;
      align-items: center;
      margin-right: 15px; }
      .ct-b-bottom-navi .ct-bottom-right ul li {
        margin-right: 10px; }
        .ct-b-bottom-navi .ct-bottom-right ul li:last-child {
          margin-right: 0; }
        .ct-b-bottom-navi .ct-bottom-right ul li a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 27px;
          height: 27px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid #f17430;
          padding: 5px; }
          .ct-b-bottom-navi .ct-bottom-right ul li a img {
            max-height: 16px; }
    .ct-b-bottom-navi .ct-bottom-right .ct-back-to-top {
      display: block;
      width: 27px;
      height: 27px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #f17430;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }

.ct-contact {
  position: fixed;
  top: 150px;
  right: 0;
  z-index: 11; }
  .ct-contact li {
    margin-bottom: 10px; }
    .ct-contact li a {
      width: 40px;
      height: 40px;
      background-color: #fab532;
      padding: 10px;
      display: flex;
      position: relative; }
      .ct-contact li a img {
        max-width: 100%;
        z-index: 1;
        position: relative; }
      .ct-contact li a span {
        width: 110px;
        position: absolute;
        right: 40px;
        top: 50%;
        height: 100%;
        transform: translate(100%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        font-weight: 700;
        border-right: 1px solid white;
        color: #f17430;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        z-index: 0; }
      .ct-contact li a::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        background-color: #fab532; }
      .ct-contact li a:hover span {
        transform: translate(0, -50%);
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
    .ct-contact li:last-child {
      margin-bottom: 0; }

.ct-s-section {
  z-index: 1;
  position: relative;
  overflow: hidden; }

#fp-nav {
  z-index: 2;
  left: 1%;
  -webkit-transform: scale(0.5) !important;
  -moz-transform: scale(0.5) !important;
  -o-transform: scale(0.5) !important;
  -ms-transform: scale(0.5) !important;
  transform: scale(0.5) !important; }
  @media only screen and (min-width: 1280px) {
    #fp-nav {
      left: 2%;
      -webkit-transform: scale(0.7) !important;
      -moz-transform: scale(0.7) !important;
      -o-transform: scale(0.7) !important;
      -ms-transform: scale(0.7) !important;
      transform: scale(0.7) !important; } }
  @media only screen and (min-width: 1800px) {
    #fp-nav {
      -webkit-transform: scale(1) !important;
      -moz-transform: scale(1) !important;
      -o-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
      transform: scale(1) !important; } }
  #fp-nav ul {
    position: relative; }
    #fp-nav ul::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      width: 1px;
      height: 60px;
      background-color: #f17430;
      background-color: #f17430;
      background: linear-gradient(0, #f17430 0%, #f17430 50%, rgba(0, 0, 0, 0) 100%);
      -webkit-transform: translate(0, -52px);
      -moz-transform: translate(0, -52px);
      -o-transform: translate(0, -52px);
      -ms-transform: translate(0, -52px);
      transform: translate(0, -52px); }
    #fp-nav ul::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 100%;
      width: 1px;
      height: 60px;
      background-color: #f17430;
      background-color: #f17430;
      background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #f17430 50%, #f17430 100%);
      -webkit-transform: translate(0, 68px);
      -moz-transform: translate(0, 68px);
      -o-transform: translate(0, 68px);
      -ms-transform: translate(0, 68px);
      transform: translate(0, 68px); }
    #fp-nav ul li {
      margin: 0 0 25px !important;
      width: 15px !important;
      height: 15px !important;
      position: relative; }
      #fp-nav ul li::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 1px;
        height: 26px;
        background-color: #f17430;
        -webkit-transform: translate(0, 33px);
        -moz-transform: translate(0, 33px);
        -o-transform: translate(0, 33px);
        -ms-transform: translate(0, 33px);
        transform: translate(0, 33px); }
      #fp-nav ul li:last-child::before {
        display: none; }
      #fp-nav ul li a span {
        background-color: transparent !important;
        width: 15px !important;
        height: 15px !important;
        border: 1px solid #f17430 !important;
        margin: 0 !important; }
      #fp-nav ul li a.active span {
        width: 15px !important;
        height: 15px !important;
        margin: 0 !important;
        background-color: #f17430 !important; }
      #fp-nav ul li:hover a span {
        margin: 0 !important;
        background-color: #f17430 !important; }
      #fp-nav ul li:hover a.active span {
        margin: 0 !important; }

.fp-nav-white .ct-contact li a {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2); }
.fp-nav-white #fp-nav ul li a span {
  border: 1px solid white !important; }
.fp-nav-white #fp-nav ul li a.active span {
  background-color: white !important; }
.fp-nav-white #fp-nav ul li:hover a span {
  background-color: white !important; }
.fp-nav-white #fp-nav ul li::before {
  background-color: white; }
.fp-nav-white #fp-nav ul::before {
  background-color: white;
  background: linear-gradient(0, white 0%, white 50%, rgba(0, 0, 0, 0) 100%); }
.fp-nav-white #fp-nav ul::after {
  background-color: white;
  background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, white 50%, white 100%); }

.ct-s-home-slider {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  overflow: hidden; }
  .ct-s-home-slider .ct-home-slider figure {
    margin: 0; }
    .ct-s-home-slider .ct-home-slider figure img {
      background-size: cover;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.ct-s-facilities {
  color: white;
  background-color: #05203d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 50px;
  background-position: center center;
  background-image: url(../images/bg-lydoluachon.jpg);
  background-position: 70% -25%;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 1280px) {
    .ct-s-facilities {
      background-image: none;
      padding-top: 75px;
      padding-bottom: 0;
      min-height: calc(100vh - 75px);
      height: 100vh !important; } }
  @media only screen and (min-width: 1800px) {
    .ct-s-facilities {
      padding-top: 100px;
      min-height: calc(100vh - 100px); } }
  @media only screen and (min-width: 1280px) {
    .ct-s-facilities .ct-b-container {
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -o-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7); } }
  @media only screen and (min-width: 1600px) {
    .ct-s-facilities .ct-b-container {
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8); } }
  @media only screen and (min-width: 1800px) {
    .ct-s-facilities .ct-b-container {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }
  .ct-s-facilities .ct-b-container .ct-b-head {
    margin-bottom: 30px; }
    .ct-s-facilities .ct-b-container .ct-b-head .ct-head {
      margin-bottom: 20px; }
      .ct-s-facilities .ct-b-container .ct-b-head .ct-head .ct-start {
        font-size: 17px;
        line-height: 17px; }
      @media only screen and (min-width: 1280px) {
        .ct-s-facilities .ct-b-container .ct-b-head .ct-head h2 {
          margin-bottom: 20px; }
        .ct-s-facilities .ct-b-container .ct-b-head .ct-head h3 {
          margin-bottom: 15px; }
        .ct-s-facilities .ct-b-container .ct-b-head .ct-head .ct-start {
          font-size: 35px;
          line-height: 35px; } }
    .ct-s-facilities .ct-b-container .ct-b-head .ct-body {
      margin-bottom: 20px; }
      .ct-s-facilities .ct-b-container .ct-b-head .ct-body p {
        text-align: justify;
        text-align-last: center; }
      @media only screen and (min-width: 1280px) {
        .ct-s-facilities .ct-b-container .ct-b-head .ct-body {
          padding: 0 60px;
          margin-bottom: 30px; } }
    .ct-s-facilities .ct-b-container .ct-b-head .ct-foot {
      text-align: center; }
  .ct-s-facilities .ct-b-container .ct-b-body .row-fluid .ct-box-item {
    margin-bottom: 33px; }
    .ct-s-facilities .ct-b-container .ct-b-body .row-fluid .ct-box-item:last-child {
      margin-bottom: 0; }
  @media only screen and (min-width: 1280px) {
    .ct-s-facilities .ct-b-container .ct-b-body .row-fluid .span-4 {
      width: 31.6239316239%;
      margin-right: 2.5641025641%;
      margin-left: 0; }
      .ct-s-facilities .ct-b-container .ct-b-body .row-fluid .span-4:nth-child(3n) {
        margin-right: 0; } }

.ct-s-lydoluachon {
  color: white;
  padding-top: 57px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: top center; }
  @media only screen and (min-width: 1280px) {
    .ct-s-lydoluachon {
      min-height: 100vh;
      padding-bottom: 0;
      padding-top: 75px; } }
  @media only screen and (min-width: 1800px) {
    .ct-s-lydoluachon {
      padding-top: 100px; } }
  .ct-s-lydoluachon .ct-b-container {
    padding-left: 0;
    padding-right: 0; }
    @media only screen and (min-width: 1280px) {
      .ct-s-lydoluachon .ct-b-container {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -o-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7); } }
    @media only screen and (min-width: 1600px) {
      .ct-s-lydoluachon .ct-b-container {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); } }
    @media only screen and (min-width: 1800px) {
      .ct-s-lydoluachon .ct-b-container {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
    .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-head {
      margin-bottom: 65px; }
    .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body {
      font-size: 0;
      line-height: 0; }
      .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row {
        position: relative; }
        .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row:first-child::after {
          content: "";
          display: block;
          position: absolute;
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 50%;
          -webkit-transform: translate(-50%, 0);
          -moz-transform: translate(-50%, 0);
          -o-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          background-color: #f17430;
          background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #f17430 20%, #f17430 50%, #f17430 80%, rgba(0, 0, 0, 0) 100%); }
        .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row:first-child .ct-reason-item:nth-child(2)::before {
          content: "";
          display: block;
          position: absolute;
          position: absolute;
          width: 1px;
          height: 220%;
          left: 0;
          bottom: 0;
          -webkit-transform: translate(0, 50%);
          -moz-transform: translate(0, 50%);
          -o-transform: translate(0, 50%);
          -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
          background-color: #f17430;
          background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #f17430 20%, #f17430 50%, #f17430 80%, rgba(0, 0, 0, 0) 100%); }
        .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row:first-child .ct-reason-item:nth-child(2)::after {
          content: "";
          display: block;
          position: absolute;
          position: absolute;
          width: 1px;
          height: 220%;
          right: 0;
          bottom: 0;
          -webkit-transform: translate(0, 50%);
          -moz-transform: translate(0, 50%);
          -o-transform: translate(0, 50%);
          -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
          background-color: #f17430;
          background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #f17430 20%, #f17430 50%, #f17430 80%, rgba(0, 0, 0, 0) 100%); }
        .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row .ct-reason-item {
          text-align: center;
          padding-bottom: 60px;
          position: relative; }
          .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row .ct-reason-item img {
            width: 98px;
            object-fit: contain;
            margin: 0 auto 20px; }
          .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row .ct-reason-item h5 {
            font-size: 18px;
            max-width: 230px;
            margin: 0 auto;
            min-height: 30px; }
          @media only screen and (min-width: 1280px) {
            .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row .ct-reason-item {
              width: 33.33%;
              display: inline-block;
              vertical-align: top; } }
        .ct-s-lydoluachon .ct-b-container .ct-b-body .ct-body .ct-row:last-child .ct-reason-item {
          padding-bottom: 0;
          padding-top: 60px; }
    .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-head {
      margin-bottom: 15px; }
    .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide {
      display: flex;
      align-items: center;
      justify-content: center; }
      .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile {
        text-align: center;
        position: relative;
        padding: 15px 0;
        width: 30%;
        margin: 0 20px; }
        .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile:first-child::after {
          content: "";
          display: block;
          position: absolute;
          right: -20px;
          top: 50%;
          height: 100%;
          width: 1px;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
          background-color: #f17430;
          background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #f17430 20%, #f17430 50%, #f17430 90%, rgba(0, 0, 0, 0) 100%); }
          @media only screen and (min-width: 375px) {
            .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile:first-child::after {
              right: -25px; } }
        @media only screen and (min-width: 375px) {
          .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile {
            margin: 0 25px; } }
        .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile img {
          width: 55px;
          margin: 0 auto 5px; }
          @media only screen and (min-width: 375px) {
            .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile img {
              margin: 0 auto 10px;
              width: 65px; } }
        .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile h5 {
          font-size: 11px;
          line-height: 1.2em;
          min-height: 40px; }
          @media only screen and (min-width: 375px) {
            .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile h5 {
              min-height: 40px; } }
          @media only screen and (min-width: 1280px) {
            .ct-s-lydoluachon .ct-b-container .ct-b-body-mobile .ct-facilities-slider .ct-slide .ct-reason-item-mobile h5 {
              min-height: 33px; } }

.lydoluachon-bottom {
  padding: 20px 20px 0;
  text-align: center; }
  .lydoluachon-bottom h4 {
    color: white;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase; }
    .lydoluachon-bottom h4 span {
      color: #f17430; }
  .lydoluachon-bottom .ct-list {
    font-size: 0;
    text-align: left; }
    .lydoluachon-bottom .ct-list .ct-item {
      display: inline-block;
      width: 50%;
      font-size: 13px;
      color: white;
      padding-left: 25px;
      position: relative; }
      .lydoluachon-bottom .ct-list .ct-item::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        background: url(../images/tick.png) no-repeat;
        width: 15px;
        height: 10px;
        background-size: 15px 10px; }
  @media only screen and (min-width: 1280px) {
    .lydoluachon-bottom {
      padding-top: 40px 0 0; }
      .lydoluachon-bottom h4 {
        margin-bottom: 20px;
        font-size: 28px; }
      .lydoluachon-bottom .ct-list {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .lydoluachon-bottom .ct-list .ct-item {
          font-size: 20px;
          color: white;
          padding-left: 50px;
          position: relative;
          font-weight: 700; }
          .lydoluachon-bottom .ct-list .ct-item::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background: url(../images/tick.png) no-repeat;
            width: 30px;
            height: 20px;
            background-size: 30px 20px; } }

.ct-s-gallery {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 50px; }
  @media only screen and (min-width: 1280px) {
    .ct-s-gallery {
      padding-top: 75px;
      padding-bottom: 0; } }
  @media only screen and (min-width: 1800px) {
    .ct-s-gallery {
      padding-top: 100px; } }
  @media only screen and (min-width: 1280px) {
    .ct-s-gallery .ct-b-container {
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -o-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7); } }
  @media only screen and (min-width: 1600px) {
    .ct-s-gallery .ct-b-container {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); } }
  @media only screen and (min-width: 1800px) {
    .ct-s-gallery .ct-b-container {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }
  .ct-s-gallery .ct-b-container .ct-b-head {
    margin-bottom: 20px; }
    @media only screen and (min-width: 1280px) {
      .ct-s-gallery .ct-b-container .ct-b-head {
        margin-bottom: 50px; } }
    .ct-s-gallery .ct-b-container .ct-b-head h2 {
      color: #f17430;
      font-weight: 700; }
  .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery {
    margin: 0 0 20px;
    border-top: 1px solid #f17430;
    border-bottom: 1px solid #f17430; }
    @media only screen and (min-width: 1280px) {
      .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery {
        margin: 0 15px 45px; } }
    .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery .ct-slide {
      cursor: pointer;
      border-right: 1px solid #f17430; }
      .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery .ct-slide:focus {
        outline: none; }
      .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery .ct-slide:first-child {
        border-left: 1px solid #f17430; }
      .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery .ct-slide h4 {
        font-size: 12px;
        color: #f17430;
        text-align: center;
        padding: 10px 10px;
        line-height: 10px; }
        @media only screen and (min-width: 1280px) {
          .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery .ct-slide h4 {
            font-size: 18px;
            padding: 15px 40px; } }
      .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery .ct-slide.slick-current {
        position: relative; }
        .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery .ct-slide.slick-current h4 {
          color: #f17430; }
        .ct-s-gallery .ct-b-container .ct-b-body .slider-nav-gallery .ct-slide.slick-current::before {
          content: "";
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background-color: #f17430;
          bottom: 0;
          left: 0; }

.ct-content-gallery .ct-slide-gallery .gallery-item {
  font-size: 0;
  padding: 10px; }
  @media only screen and (min-width: 1280px) {
    .ct-content-gallery .ct-slide-gallery .gallery-item {
      padding: 15px; } }
  .ct-content-gallery .ct-slide-gallery .gallery-item a {
    position: relative;
    display: block;
    height: 120px; }
    @media only screen and (min-width: 1280px) {
      .ct-content-gallery .ct-slide-gallery .gallery-item a {
        height: 200px; } }
    @media only screen and (min-width: 1600px) {
      .ct-content-gallery .ct-slide-gallery .gallery-item a {
        height: 230px; } }
    @media only screen and (min-width: 1800px) {
      .ct-content-gallery .ct-slide-gallery .gallery-item a {
        height: 250px; } }
    .ct-content-gallery .ct-slide-gallery .gallery-item a::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      background: url(../images/icon-image.svg) no-repeat;
      background-size: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .ct-content-gallery .ct-slide-gallery .gallery-item a::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: #05203d80;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .ct-content-gallery .ct-slide-gallery .gallery-item a img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .ct-content-gallery .ct-slide-gallery .gallery-item a:hover {
      cursor: pointer; }
      .ct-content-gallery .ct-slide-gallery .gallery-item a:hover::before {
        opacity: 0.3;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .ct-content-gallery .ct-slide-gallery .gallery-item a:hover::after {
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); }
  .ct-content-gallery .ct-slide-gallery .gallery-item.ct-video a::before {
    background: url(../images/icon-video.svg) no-repeat; }
  .ct-content-gallery .ct-slide-gallery .gallery-item i {
    font-size: 50px;
    width: 50px;
    height: 50px; }

.ct-slide-gallery-video {
  max-width: 850px;
  margin: 0 auto; }
  .ct-slide-gallery-video .slider-for-gallery-video {
    margin-bottom: 20px; }
    .ct-slide-gallery-video .slider-for-gallery-video .videoWrapper {
      width: 100%;
      height: 27vh; }
      .ct-slide-gallery-video .slider-for-gallery-video .videoWrapper iframe {
        width: 100%;
        height: 100%; }
  .ct-slide-gallery-video .slider-nav-gallery-video .slick-list {
    margin: 0 -10px; }
  .ct-slide-gallery-video .slider-nav-gallery-video .slick-slide {
    margin: 0 10px; }
  .ct-slide-gallery-video .slider-nav-gallery-video img {
    height: 16vh;
    object-fit: cover; }
  @media only screen and (min-width: 1280px) {
    .ct-slide-gallery-video .slider-for-gallery-video {
      margin-bottom: 40px; }
      .ct-slide-gallery-video .slider-for-gallery-video .videoWrapper {
        height: 60vh; } }
  @media only screen and (min-width: 1800px) {
    .ct-slide-gallery-video .slider-for-gallery-video {
      margin-bottom: 50px; }
      .ct-slide-gallery-video .slider-for-gallery-video .videoWrapper {
        height: 40vh; } }

.gallerypage .ct-s-gallery {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px; }
  .gallerypage .ct-s-gallery .ct-b-container {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.ct-s-facility-list-icon {
  padding-top: 0;
  padding-bottom: 10px;
  background-color: #255588; }
  @media only screen and (min-width: 1280px) {
    .ct-s-facility-list-icon {
      padding-top: 20px; } }
  .ct-s-facility-list-icon .ct-b-container {
    max-width: 100%; }
    @media only screen and (min-width: 1280px) {
      .ct-s-facility-list-icon .ct-b-container {
        padding-left: 50px;
        padding-right: 50px; } }
    @media only screen and (min-width: 1800px) {
      .ct-s-facility-list-icon .ct-b-container {
        padding-left: 150px;
        padding-right: 150px; } }
    .ct-s-facility-list-icon .ct-b-container .ct-facility-list-slider .ct-b-slide {
      text-align: center; }
      .ct-s-facility-list-icon .ct-b-container .ct-facility-list-slider .ct-b-slide img {
        width: 100px;
        margin: 0 auto;
        margin-bottom: 10px;
        filter: brightness(0) invert(1); }
      .ct-s-facility-list-icon .ct-b-container .ct-facility-list-slider .ct-b-slide h5 {
        font-size: 12px;
        font-weight: 600;
        color: white;
        line-height: 1;
        display: block;
        /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        min-height: 28px;
        line-height: 14px; }
      @media only screen and (min-width: 1280px) {
        .ct-s-facility-list-icon .ct-b-container .ct-facility-list-slider .ct-b-slide {
          margin-bottom: 40px; }
          .ct-s-facility-list-icon .ct-b-container .ct-facility-list-slider .ct-b-slide h5 {
            font-size: 14px;
            min-height: auto; }
          .ct-s-facility-list-icon .ct-b-container .ct-facility-list-slider .ct-b-slide img {
            width: 160px; } }
      @media only screen and (min-width: 1800px) {
        .ct-s-facility-list-icon .ct-b-container .ct-facility-list-slider .ct-b-slide h5 {
          font-size: 16px; }
        .ct-s-facility-list-icon .ct-b-container .ct-facility-list-slider .ct-b-slide img {
          width: 220px; } }

.confirm-container .ct-popup-confirm {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background-color: rgba(11, 41, 75, 0.2);
  display: flex;
  align-items: center;
  justify-content: center; }
  .confirm-container .ct-popup-confirm .ct-popup-content {
    width: 80%;
    padding: 50px 30px;
    background-color: black;
    text-align: center;
    color: white;
    max-width: 580px;
    position: relative;
    border: 3px solid #f17430;
    background-image: url(../images/bg-confirm-email.jpg);
    background-size: cover; }
    .confirm-container .ct-popup-confirm .ct-popup-content .ct-close-popup-content {
      appearance: none;
      padding: 0;
      display: none;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url(../images/close-button.svg);
      background-size: contain;
      background-repeat: no-repeat; }
    .confirm-container .ct-popup-confirm .ct-popup-content h2 {
      font-size: 24px;
      line-height: 1.2em;
      color: #f17430; }
    .confirm-container .ct-popup-confirm .ct-popup-content p {
      font-weight: 700;
      font-weight: 16px; }
@media only screen and (min-width: 1280px) {
  .confirm-container .ct-popup-confirm .ct-popup-content {
    padding: 80px 50px; }
    .confirm-container .ct-popup-confirm .ct-popup-content .ct-close-popup-content {
      width: 20px;
      height: 20px;
      top: 15px;
      right: 15px; }
    .confirm-container .ct-popup-confirm .ct-popup-content h2 {
      font-size: 50px; }
    .confirm-container .ct-popup-confirm .ct-popup-content p {
      font-size: 30px; } }

.ct-s-contact-home .ct-b-container {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  max-width: 560px;
  margin: 0 auto;
  position: absolute;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .ct-s-contact-home .ct-b-container .ct-b-head {
    margin-bottom: 15px; }
    .ct-s-contact-home .ct-b-container .ct-b-head figure {
      margin: 0;
      margin-bottom: 15px; }
      .ct-s-contact-home .ct-b-container .ct-b-head figure img {
        width: 140px; }
    .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline {
      color: #f17430;
      margin-bottom: 10px;
      font-size: 0; }
      .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline h4 {
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 10px; }
      .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline a {
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
        color: #f17430;
        font-size: 12px;
        margin-right: 5px;
        padding-right: 5px;
        position: relative; }
        .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline a:last-child {
          margin-right: 0;
          padding-right: 0; }
          .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline a:last-child::after {
            display: none; }
        .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline a::after {
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          height: 100%;
          right: 0;
          top: 0;
          background-color: #f17430; }
    .ct-s-contact-home .ct-b-container .ct-b-head .ct-address {
      color: white;
      font-size: 14px; }
  .ct-s-contact-home .ct-b-container .ct-b-body form {
    text-align: center; }
    .ct-s-contact-home .ct-b-container .ct-b-body form .ct-form-field {
      margin-bottom: 10px; }
      .ct-s-contact-home .ct-b-container .ct-b-body form .ct-form-field:last-child {
        margin-bottom: 0; }
      .ct-s-contact-home .ct-b-container .ct-b-body form .ct-form-field label {
        color: white;
        margin-bottom: 5px;
        display: block;
        text-align: left; }
      .ct-s-contact-home .ct-b-container .ct-b-body form .ct-form-field input {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.6);
        color: white; }
    .ct-s-contact-home .ct-b-container .ct-b-body form button {
      margin-top: 15px; }
@media only screen and (min-width: 1280px) {
  .ct-s-contact-home .ct-b-container {
    padding: 30px;
    top: 56%; }
    .ct-s-contact-home .ct-b-container .ct-b-head figure {
      margin-bottom: 25px; }
      .ct-s-contact-home .ct-b-container .ct-b-head figure img {
        width: 160px; }
    .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline h4 {
      font-size: 22px; }
    .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline a {
      font-size: 22px;
      margin-right: 10px;
      padding-right: 10px; }
      .ct-s-contact-home .ct-b-container .ct-b-head .ct-hotline a::after {
        width: 2px; }
    .ct-s-contact-home .ct-b-container .ct-b-head .ct-address {
      font-size: 18px; }
    .ct-s-contact-home .ct-b-container .ct-b-body form .ct-form-field {
      margin-bottom: 15px; }
      .ct-s-contact-home .ct-b-container .ct-b-body form .ct-form-field label {
        margin-bottom: 8px; }
      .ct-s-contact-home .ct-b-container .ct-b-body form .ct-form-field input {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.6);
        color: white;
        height: 40px;
        line-height: 38px; }
    .ct-s-contact-home .ct-b-container .ct-b-body form button {
      margin-top: 25px; } }
@media only screen and (min-width: 1800px) {
  .ct-s-contact-home .ct-b-container {
    padding: 40px;
    max-width: 620px; }
    .ct-s-contact-home .ct-b-container figure img {
      width: 200px; }
    .ct-s-contact-home .ct-b-container .ct-hotline {
      margin-bottom: 20px; }
      .ct-s-contact-home .ct-b-container .ct-hotline h4 {
        font-size: 22px;
        margin-bottom: 20px; }
      .ct-s-contact-home .ct-b-container .ct-hotline a {
        font-size: 22px; } }

.ct-s-footer-home {
  padding: 40px 0;
  border-top: 3px solid #f17430;
  background-image: url(../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px; }
  .ct-s-footer-home .ct-b-container {
    margin-bottom: 15px; }
    .ct-s-footer-home .ct-b-container::before, .ct-s-footer-home .ct-b-container::after {
      display: none; }
    .ct-s-footer-home .ct-b-container .ct-b-head {
      margin-bottom: 20px; }
      .ct-s-footer-home .ct-b-container .ct-b-head img {
        width: 250px;
        margin: 0 auto; }
    .ct-s-footer-home .ct-b-container .ct-b-body {
      color: white;
      max-width: 400px; }
      .ct-s-footer-home .ct-b-container .ct-b-body p {
        padding-left: 30px;
        position: relative;
        margin-bottom: 15px; }
        .ct-s-footer-home .ct-b-container .ct-b-body p:last-child {
          margin-bottom: 0; }
        .ct-s-footer-home .ct-b-container .ct-b-body p a {
          font-size: 12px;
          color: white; }
        .ct-s-footer-home .ct-b-container .ct-b-body p::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          width: 18px;
          height: 15px;
          background-size: contain;
          background-repeat: no-repeat;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        .ct-s-footer-home .ct-b-container .ct-b-body p.ct-address::after {
          background-image: url(../images/icon-home.png); }
        .ct-s-footer-home .ct-b-container .ct-b-body p.ct-email::after {
          background-image: url(../images/icon-email.png); }
        .ct-s-footer-home .ct-b-container .ct-b-body p.ct-web::after {
          background-image: url(../images/icon-web.svg); }
        .ct-s-footer-home .ct-b-container .ct-b-body p.ct-phone::after {
          background-image: url(../images/icon-phone-f.png); }
  .ct-s-footer-home .copyright {
    text-align: center;
    padding: 10px 0;
    background-color: #f17430;
    color: black; }
  @media only screen and (min-width: 1280px) {
    .ct-s-footer-home {
      padding: 0; }
      .ct-s-footer-home .ct-b-container {
        padding: 40px 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .ct-s-footer-home .ct-b-container .ct-b-body p {
          padding-left: 45px; }
          .ct-s-footer-home .ct-b-container .ct-b-body p a {
            font-size: 16px; }
          .ct-s-footer-home .ct-b-container .ct-b-body p::after {
            width: 28px;
            height: 25px; } }
