
$break-points: (
        "phone": 320px,
        "phone-wide": 375px,
        "phone-giant": 500px,
        "tablet": 768px,
        "tablet-wide": 1024px,
        "desktop": 1280px,
        "desktop-1400": 1400px,
        "desktop-1600": 1600px,
        "desktop-1800": 1800px,
        "desktop-1900": 1850px,
);
$textgrey: #6D6E70;
$black: #383838;
$white: #ffffff;
$mainColor: #f17430;
$blue: #05203d;