@import "./variables";
@import "./_mixinscustom";
@import "./common";

header{
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 11;
  padding: 10px 0;
  .ct-b-container{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    &::before, &::after{
      display: none;
    }
  }
  figure{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    img{
      height: 32px;
    }
  }
  .nav-center{
    display: inline-block;
    vertical-align: middle;
    h5{
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      span{
        color: $mainColor;
      }
    }
    a{
    }
  }

  .ct-btn{
    text-transform: uppercase;
  }
  .ct-btn-phone{
    background-color: transparent;
    padding: 0 15px;
    border: 1px solid $mainColor;
    display: inline-flex;
    color: $mainColor;
    line-height: 28px;
    img{
      width: 12px;
      margin-right: 3px;
    }
    &:hover{
      img{
        filter: brightness(0) invert(1);
      }
    }
  }

  .nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    .ct-sns{
      display: none;
      li{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        a{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid $mainColor;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover{
            background-color: $mainColor;
            img {
              filter: brightness(0) invert(1);
            }
          }
          img{
            height: 16px;
            margin: 0 auto;        
          }
        }
      }
    }
    .ct-btn-phone{
      margin-right: 10px;
    }
    .ct-lang{
      position: relative;
      .js-toggle-lang{
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        &:hover{
          cursor: pointer;
        }
      }
      i{
        opacity: .4;
      }

      ul{
        display: none;
        position: absolute;
        right: 0;
        bottom: -5px;
        @include transform(translate(0, 100%));
        li{
          &.active{
            display: none;
          }
          a{
            padding: 5px 25px;
            color: black;
            background-color: white;
          }
        }
      }
    }
  }


  &.open-lang{
    color: rebeccapurple;
    .nav-right{
      .ct-lang{
        ul{
          display: block;
        }
      }
    }
}
@include mq('desktop') {
  padding: 10px 0;
  .ct-b-container{
    padding: 0 45px;
  }
  figure{
    img{
      height: 62px;
    }
  }
  .nav-center{
    display: flex;
    align-items: center;
    justify-content: center;
    h5{
      margin-right: 30px;
      font-size: 16px;
      margin-bottom: 0;
      @include mq('desktop-1800'){
        font-size: 20px;
      }
    }
    a{
      font-size: 15px;
      display: flex;
      align-items: center;
      border-width: 2px;
      @include mq('desktop-1800'){
        font-size: 18px;
      }
      img{
        width: 17px;
      }
      &.ct-btn{
        padding: 0 30px;
      }
      &.ct-btn-phone{
        margin-right: 30px;
        padding: 0 30px;
      }
    }
  }
  .nav-right{
    .ct-sns{
      margin-right: 30px;
    }
  }

}
  @include mq('desktop-1800') {
    padding: 19px 0;
  }

}

.ct-tooltip{
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 475px;
  @include transform(translate(-50%, -50%));
  text-align: center;
  h3{
    color: $mainColor;
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1.2em;
    text-transform: uppercase;
  }
  h4{
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.2em;

  }
  h6{
    color: white;
    font-size: 13px;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
  h2{
    color: $mainColor;
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 40px;
    position: relative;
    span{
      text-transform: uppercase;
      position: absolute;
      top: -5px;
      font-size: 0.5em;
    }
  }
  .ct-btn{
    padding: 0 15px;
    background-color: $mainColor;
    color: white;
    &:hover{
      background-color: white;
      color: $mainColor;
      border-color: white;
    }
  }
  @include mq('desktop') {
    top: 56%;
    right: 150px;
    left: initial;
    @include transform(translate(0, -50%));
    padding: 70px;
    h3{
      color: $mainColor;
      font-size: 36px;
      margin-bottom: 20px;
    }
    h4{
      color: white;
      font-size: 30px;
      margin-bottom: 10px;
    }
    h6{
      color: white;
      font-size: 18px;
      margin-bottom: 10px;
    }
    h2{
      color: $mainColor;
      font-size: 42px;
  
      span{
        
      }
    }
    .ct-btn{
      padding: 0 30px;
    }
  }
}


.homepage{
  footer{
    display: none;
  }
}
.ct-home-slider{
  figure{
    width: 100%;
    height: 100vh;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  video{
    height: 100vh;
    object-fit: cover;
    width: 100%;
  }
}

.ct-b-slider-subpage{
  position: relative;
  figure{
    @include center-absolute('both');
    margin: 0;
    z-index: 2;
    top: 58%;
    img{
      width: 64%;
      margin: 0 auto;
    }
    @include mq('desktop') {
      img{
        width: 50%;
      }
    }
    @include mq('desktop-1800') {
      img{
        width: 64%;
      }
    }
  }
}
.chudautupage{
  .ct-b-slider-subpage{
    figure{
      top: 58%;
    }
  }
}
.ct-slider {
  position: relative;
  &::before{
    @include pseudo();
    z-index: 2;
    background-color: rgba(5, 32, 61, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &.ct-chudautu{
    &::before{
      background-color: #151515cc;
    }
  }
  .item {
    width: 100%;
    height: calc(100vh/3);
    z-index: 2;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @include mq('desktop') {
    .item {
      height: calc(100vh/2);
    }
  }
  @include mq('desktop-1800') {
    .item {
      height: 430px;
    }
  }
}




.ct-b-bottom-navi{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 25px;
  z-index: 3;
  @include transition(700ms, ease-in-out);
  @include mq('desktop'){
    display: none;
  }
  .add-bottom-navi & {
    opacity: 1;
    @include transform(translateY(0));
    @include transition(700ms, ease-in-out);
  }
  .ct-btn{
    text-transform: uppercase;
    font-size: 12px;
    height: 30px;
    line-height: 32px;
    border: 0;
    padding: 0 20px;
    &:hover{
      border: 0;
    }
  }
  .ct-bottom-right{
    display: flex;
    align-items: center;
    ul{
      display: flex;
      align-items: center;
      margin-right: 15px;
      li{
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 27px;
          height: 27px;
          @include rounded(50%);
          overflow: hidden;
          border: 1px solid $mainColor;
          padding: 5px;
          img{
            max-height: 16px;
          }
        }
      }
    }
    .ct-back-to-top{
      display: block;
      width: 27px;
      height: 27px;
      @include rounded(50%);
      overflow: hidden;
      border: 1px solid $mainColor;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{

      }
    }
  }
}

.ct-contact{
position: fixed;
top: 150px;
right: 0;
z-index: 11;
li {
  margin-bottom: 10px;
  a {
    width: 40px;
    height: 40px;
    background-color: #fab532;
    padding: 10px;
    display: flex;  
    position: relative;  
    img{
      max-width: 100%;
      z-index: 1;
      position: relative;
    }
    span{
      width: 110px;
      position: absolute;
      right: 40px;
      top: 50%;
      height: 100%;
      transform: translate(100%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      font-weight: 700;
      border-right: 1px solid white; 
      color: $mainColor;
      @include transition(300ms, ease-in-out); 
      z-index: 0;     
    }
    &::before{
      @include pseudo();
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      background-color: #fab532;
    }
    &:hover{
      span{
        transform: translate(0, -50%);
        @include transition(300ms, ease-in-out);
      }
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}
}
.ct-s-section{
  z-index: 1;
  position: relative;
  overflow: hidden;
}
#fp-nav{
  z-index: 2;
  left: 1%;
  @include transform(scale(0.5) !important);

  @include mq('desktop'){
    left: 2%;
    @include transform(scale(0.7) !important);
  }  
  @include mq('desktop-1800'){
      @include transform(scale(1) !important);
  }  
  ul{
      position: relative;
      &::before{
          @include pseudo();
          top: 0;
          left: 100%;
          width: 1px;
          height: 60px;
          background-color: $mainColor;
          background-color: $mainColor;
          background: linear-gradient(0, $mainColor 0%, $mainColor 50%, rgba(0, 0, 0, 0) 100%);
          @include transform(translate(0, -52px));


      }
      &::after{
          @include pseudo();
          bottom: 0;
          left: 100%;
          width: 1px;
          height: 60px;
          background-color: $mainColor;
          background-color: $mainColor;
          background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, $mainColor 50%, $mainColor 100%);
          @include transform(translate(0, 68px));
      }
      li{
          margin: 0 0 25px !important;
          width: 15px !important;
          height: 15px !important;
          position: relative;
          &::before{
              @include pseudo();
              bottom: 0;
              left: 100%;
              width: 1px;
              height: 26px;
              background-color: $mainColor;
              @include transform(translate(0, 33px));
          }
          &:last-child{
              &::before{
                  display: none;
              } 
          }
          a{
              span{
                  background-color: transparent !important;
                  width: 15px !important;
                  height: 15px !important;
                  border: 1px solid $mainColor !important;
                  margin: 0 !important;
              }
              &.active{
                  span{
                      width: 15px !important;
                      height: 15px !important;
                      margin: 0 !important;
                      background-color: $mainColor !important;
                  }
              }
          }
          &:hover{
              a{
                  span{
                      margin: 0 !important;
                      background-color: $mainColor !important;
                  }
                  &.active{
                      span{
                          margin: 0 !important;
                      }
                  }
              }
          }
      }
  }
}
.fp-nav-white{
.ct-contact li a{
  box-shadow: 0 0 8px 0px rgba(0,0,0,0.2);
}
  #fp-nav{
      ul{
          li{
              a{
                  span{
                      border: 1px solid white !important;
                  }
                  &.active{
                      span{
                          background-color: white !important;
                      }
                  }
              }
              &:hover{
                  a{
                      span{
                          background-color: white !important;
                      }
                  }
              }
              &::before{
                background-color: white;
              }
          }
        &::before{
            background-color: white;
            background: linear-gradient(0, white 0%, white 50%, rgba(0, 0, 0, 0) 100%);
        }
        &::after{
          background-color: white;
          background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, white 50%, white 100%);
      }
      }
  }
}

.ct-s-home-slider{
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  overflow: hidden;
  .ct-home-slider{
    figure{
      margin: 0;
      img{
        background-size: cover;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}



.ct-s-facilities{
  color: white;
  background-color: #05203d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 50px;
  background-position: center center;
  // height: auto !important;
  background-image: url(../images/bg-lydoluachon.jpg);
  background-position: 70% -25%;
  background-repeat: no-repeat;
  @include mq('desktop'){
    background-image: none;
    padding-top: 75px;
    padding-bottom: 0;
    min-height: calc(100vh - 75px);
    height: 100vh !important;
  }   
  @include mq('desktop-1800'){
      padding-top: 100px;
      min-height: calc(100vh - 100px);
  }  
  .ct-b-container{

    @include mq('desktop'){
      @include transform(scale(0.7));
    }   
    @include mq('desktop-1600'){
      @include transform(scale(0.8));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  
    .ct-b-head{
      margin-bottom: 30px;
      .ct-head{
        margin-bottom: 20px;
        .ct-start {
          font-size: 17px;
          line-height: 17px;
        }          
        @include mq('desktop'){
          h2{
            margin-bottom: 20px;
          }
          h3{
            margin-bottom: 15px;
          }   
          .ct-start {
            font-size: 35px;
            line-height: 35px;
          }     
        }   
      }
      .ct-body{
        margin-bottom: 20px;
        p{
          text-align: justify;
          text-align-last: center;
        }
        @include mq('desktop'){
          padding: 0 60px;
          margin-bottom: 30px;
        }
      }
      .ct-foot{
        text-align: center;
      }
    }
    .ct-b-body{
      .row-fluid{
        .ct-box-item{
          margin-bottom: 33px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      @include mq('desktop') {
        .row-fluid {
          .span-4 {
            width: 31.6239316239%;
            margin-right: 2.5641025641%;
            margin-left: 0;
            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }
      }

    }
  }
}

.ct-s-lydoluachon{
  color: white;
  padding-top: 57px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: top center;
  @include mq('desktop'){
    min-height: 100vh;
    padding-bottom: 0;
    padding-top: 75px;
  }  
  @include mq('desktop-1800'){
      padding-top: 100px;
  }  
  .ct-b-container{
    padding-left: 0;
    padding-right: 0;
    @include mq('desktop'){
      @include transform(scale(0.7));
    }  
    @include mq('desktop-1600'){
      @include transform(scale(0.9));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  

      .ct-b-body{
          .ct-head{
            margin-bottom: 65px;
          }
          .ct-body{
            font-size: 0;
            line-height: 0;
            .ct-row{
              position: relative;
              &:first-child{
                &::after{
                  @include pseudo();
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  bottom: 0;
                  left: 50%;
                  @include transform(translate(-50%, 0)); 
                  background-color: $mainColor;
                  background: linear-gradient(90deg, rgba(0,0,0,0) 0%,$mainColor 20%, $mainColor 50%, $mainColor 80%, rgba(0,0,0,0) 100%);
                }
                .ct-reason-item{
                  &:nth-child(2){
                    &::before{
                      @include pseudo();
                      position: absolute;
                      width: 1px;
                      height: 220%;
                      left: 0;
                      bottom: 0;
                      @include transform(translate(0, 50%)); 
                      background-color: $mainColor;
                      background: linear-gradient(0, rgba(0,0,0,0) 0%,$mainColor 20%, $mainColor 50%, $mainColor 80%, rgba(0,0,0,0) 100%);
                    }
                    &::after{
                      @include pseudo();
                      position: absolute;
                      width: 1px;
                      height: 220%;
                      right: 0;
                      bottom: 0;
                      @include transform(translate(0, 50%)); 
                      background-color: $mainColor;
                      background: linear-gradient(0, rgba(0,0,0,0) 0%,$mainColor 20%, $mainColor 50%, $mainColor 80%, rgba(0,0,0,0) 100%);
                    }
                  }
                }
      
              }
              .ct-reason-item{
                text-align: center;
                padding-bottom: 60px;
                position: relative;
    
                img{
                  width: 98px;
                  object-fit: contain;
                  margin: 0 auto 20px;
                }
                h5{
                  font-size: 18px;
                  max-width: 230px;
                  margin: 0 auto;
                  min-height: 30px;
                }
                @include mq('desktop'){
                  width: 33.33%;
                  display: inline-block;
                  vertical-align: top;
                }
              }
              &:last-child{
                .ct-reason-item{
                  padding-bottom: 0;
                  padding-top: 60px;
      
                }
              }
    
            }
          }


      }

      .ct-b-body-mobile{
        // mobile
        .ct-head{
          margin-bottom: 15px;
        }
        .ct-facilities-slider{
          .ct-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            .ct-reason-item-mobile{
              text-align: center;
              position: relative;
              padding: 15px 0;
              width: 30%;
              margin: 0 20px;   
              &:first-child{
                &::after{
                  @include pseudo();
                  right: -20px;
                  top: 50%;
                  height: 100%;
                  width: 1px;
                  @include transform(translate(0, -50%));
                  background-color: $mainColor;
                  background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, $mainColor 20%, $mainColor 50%, $mainColor 90%, rgba(0, 0, 0, 0) 100%);
                  @include mq('phone-wide'){
                    right: -25px;
                  }  
                }
              }
              @include mq('phone-wide'){
                margin: 0 25px;   
              }           
              img{
                width: 55px;
                margin: 0 auto 5px;
                @include mq('phone-wide'){
                  margin: 0 auto 10px;
                  width: 65px;
                }
              }
              h5{
                font-size: 11px;
                line-height: 1.2em;
                min-height: 40px;
                @include mq('phone-wide'){
                  min-height: 40px;
                }
                @include mq('desktop'){
                  min-height: 33px;
                }
              }

            }
          }

        }
      }
  }
}

.lydoluachon-bottom{
  padding: 20px 20px 0;  
  text-align: center;
  h4{
    color: white;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    span{
      color: $mainColor;
    }
  }
  .ct-list{
    font-size: 0;
    text-align: left;
    .ct-item{
      display: inline-block;
      width: 50%;
      font-size: 13px;
      color: white;
      padding-left: 25px;
      position: relative;
      &::before{
        @include pseudo();
        left: 0;
        top: 50%;
        @include transform(translate(0, -50%));
        background: url(../images/tick.png) no-repeat;
        width: 15px;
        height: 10px;
        background-size: 15px 10px;
      }

    }
  }
  @include mq('desktop') {
    padding-top: 40px 0 0;
    h4{
      margin-bottom: 20px;
      font-size: 28px;
    }
    .ct-list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ct-item{
        font-size: 20px;
        color: white;
        padding-left: 50px;
        position: relative;
        font-weight: 700;
        &::before{
          @include pseudo();
          left: 0;
          top: 50%;
          @include transform(translate(0, -50%));
          background: url(../images/tick.png) no-repeat;
          width: 30px;
          height: 20px;
          background-size: 30px 20px;
        }
  
      }
    }
  }
  @include mq('desktop-t800') {
    padding-top: 80px;
  }
}




.ct-s-gallery{
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 50px;
  @include mq('desktop'){
    padding-top: 75px;
    padding-bottom: 0;

  } 
  @include mq('desktop-1800'){
      padding-top: 100px;
  } 
  .ct-b-container{
    @include mq('desktop'){
      @include transform(scale(0.7));
    } 
    @include mq('desktop-1600'){
      @include transform(scale(0.9));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  
    .ct-b-head{
      margin-bottom: 20px;

      @include mq('desktop'){
        margin-bottom: 50px;
      } 
      h2{
        // color: white;
        color: $mainColor;
        font-weight: 700;
      }
    }
    .ct-b-body{
      .slider-nav-gallery{
        margin: 0 0 20px;
        border-top: 1px solid $mainColor;
        border-bottom: 1px solid $mainColor;

        @include mq('desktop'){
          margin: 0 15px 45px;
        } 
        .ct-slide{
          cursor: pointer;
          border-right: 1px solid $mainColor;
          &:focus{
            outline: none;
          }
          &:first-child{
            border-left: 1px solid $mainColor;
          }
          h4{
            font-size: 12px;
            color: $mainColor;
            text-align: center;
            padding: 10px 10px;
            line-height: 10px;
            @include mq('desktop'){
              font-size: 18px;
              padding: 15px 40px;

            } 
          }
          &.slick-current{
            position: relative;
            h4{
              color: $mainColor;
            }
            &::before{
              @include pseudo();
              height: 4px;
              width: 100%;
              background-color: $mainColor;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
      .slider-for-gallery{

      }
    }
  }
}
.ct-content-gallery{
  .ct-slide-gallery{
    .gallery-item{
      font-size: 0;
      padding: 10px;
      @include mq('desktop'){
        padding: 15px;
      }   
      a{
        position: relative;
        display: block;
        height: 120px;
        @include mq('desktop'){
          height: 200px;
        }  
        @include mq('desktop-1600'){
          height: 230px;
        }    
        @include mq('desktop-1800'){
          height: 250px;
        }  
        &::before{
          @include pseudo();
          z-index: 2;
          top: 50%;
          left: 50%;
          width: 50px;
          height: 50px;
          background: url(../images/icon-image.svg) no-repeat;
          background-size: 100%;
          @include transform(translate(-50%, -50%));
          opacity: 0;
          @include transition(0.3s, ease-in-out);
        }
        &::after{
          @include pseudo();
          z-index: 1;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background-color: #05203d80;
          opacity: 0;
          @include transition(0.3s, ease-in-out);
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover{
          cursor: pointer;
          &::before{
            opacity: 0.3;
            @include transition(0.3s, ease-in-out);
          }
          &::after{
            opacity: 1;
            @include transition(0.3s, ease-in-out);
            @include transform(scale(0.9));
          }
        }
      }
      &.ct-video{
        a{
          &::before{
            background: url(../images/icon-video.svg) no-repeat;
          }
        }
      }

      i{
        font-size: 50px;
        width: 50px;
        height: 50px;
      }
    }


  }
}

.ct-slide-gallery-video{
  max-width: 850px;
  margin: 0 auto;
  .slider-for-gallery-video{
    margin-bottom: 20px;
    .videoWrapper{
      width: 100%;
      height: 27vh;
      iframe{
        width: 100%;
        height: 100%;
      }
    }

  }
  .slider-nav-gallery-video{
    .slick-list {
      margin: 0 -10px;
    }
    .slick-slide {
      margin: 0 10px;
  }
    img{
      height: 16vh;
      object-fit: cover;
    }
  }


  @include mq('desktop'){
    .slider-for-gallery-video{
      margin-bottom: 40px;
      .videoWrapper{
        height: 60vh;
      }
    }
  }  
  @include mq('desktop-1800'){
    .slider-for-gallery-video{
      margin-bottom: 50px;
      .videoWrapper{
        height: 40vh;
      }
    }
  } 
}
.gallerypage{
  .ct-s-gallery{
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    .ct-b-container{
      @include transform(scale(1));
    }
  }
}


.ct-s-facility-list-icon{
  padding-top: 0;
  padding-bottom: 10px;
  background-color: #255588;
  @include mq('desktop') {
    padding-top: 20px;
  }
  .ct-b-container{
    max-width: 100%;
    @include mq('desktop') {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include mq('desktop-1800') {
      padding-left: 150px;
      padding-right: 150px;
    }
    .ct-facility-list-slider{
      .ct-b-slide{
        text-align: center;
        img{
          width: 100px;
          margin: 0 auto;
          margin-bottom: 10px;
          filter: brightness(0) invert(1);
        }
        h5{
          font-size: 12px;
          font-weight: 600;
          color: white;
          line-height: 1;
          display: block; /* or inline-block */
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          min-height: 28px;
          line-height: 14px;
        }
        @include mq('desktop') {
          margin-bottom: 40px;
          h5{
            font-size: 14px;
            min-height: auto;

          }
          img{
            width: 160px;
          }
        }
        @include mq('desktop-1800') {
          h5{
            font-size: 16px;
          }
          img{
            width: 220px;
          }
        }
      }

      .slick-slide{

      }
    }
  }
}

.confirm-container{
  .ct-popup-confirm{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background-color: rgba(11, 41, 75, 0.2); 
    display: flex;
    align-items: center;
    justify-content: center;
    .ct-popup-content{
      width: 80%;
      padding: 50px 30px;
      background-color: black; 
      text-align: center;
      color: white;
      max-width: 580px;
      position: relative;
      border: 3px solid $mainColor;
      background-image: url(../images/bg-confirm-email.jpg);
      background-size: cover;
      .ct-close-popup-content{
        appearance: none;
        padding: 0;
        display: none;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        background-image: url(../images/close-button.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      h2{
        font-size: 24px;
        line-height: 1.2em;
        color: $mainColor;
      }
      p{
        font-weight: 700;
        font-weight: 16px;
      }
    }
  }

  @include mq('desktop') {
    .ct-popup-confirm{
      .ct-popup-content{
        padding:80px 50px;
        .ct-close-popup-content{
          width: 20px;
          height: 20px;
          top: 15px;
          right: 15px;
        }
        h2{
          font-size: 50px;
        }
        p{
          font-size: 30px;
        }
      }

    }


  }
}

.ct-s-contact-home{
  .ct-b-container{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    max-width: 560px;
    margin: 0 auto;
    position: absolute;
    width: 85%;
    @include center-absolute('both');
    .ct-b-head{
      margin-bottom: 15px;
      figure{
        margin: 0;
        margin-bottom: 15px;
        img{
          width: 140px;
        }
      }

      .ct-hotline{
        color: $mainColor;
        margin-bottom: 10px;
        font-size: 0;
        h4{
          text-transform: uppercase;
          font-size: 16px;
          margin-bottom: 10px;
        }
        a{
          display: inline-block;
          vertical-align: middle;
          font-weight: 700;
          color: $mainColor;
          font-size: 12px;
          margin-right: 5px;
          padding-right: 5px;
          position: relative;
          &:last-child{
            margin-right: 0;
            padding-right: 0;
            &::after{
              display: none;
            }
          }
          &::after{
            @include pseudo();
            width: 1px;
            height: 100%;
            right: 0;
            top: 0;
            background-color: $mainColor;
          }
        }
      }
      .ct-address{
        color: white;
        font-size: 14px;
      }
    }
    .ct-b-body{
      form{
        text-align: center;
        .ct-form-field{
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
          label{
            color: white;
            margin-bottom: 5px;
            display: block;
            text-align: left;
          }
          input{
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.6);
            color: white;
          }
        }
        button{
          margin-top: 15px;
        }
      }
    }
  }

  @include mq('desktop'){
    .ct-b-container{
      padding: 30px;
      top: 56%;

      .ct-b-head{
        figure{
          margin-bottom: 25px;
          img{
            width: 160px;
          }
        }
        .ct-hotline{
          h4{
            font-size: 22px;
          }
          a{
            font-size: 22px;
            margin-right: 10px;
            padding-right: 10px;
            &::after{
              width: 2px;
            }
          }
        }
        .ct-address{
          font-size: 18px;
        }

      }
      .ct-b-body{
        form{
          .ct-form-field{
            margin-bottom: 15px;
            label{
              margin-bottom: 8px;

            }
            input{
              width: 100%;
              border: 1px solid rgba(255, 255, 255, 0.6);
              color: white;
              height: 40px;
              line-height: 38px;
            }
          }
          button{
            margin-top: 25px;
          }
        }
      }



    }

  }

  @include mq('desktop-1800'){
    .ct-b-container{
      padding: 40px;
      max-width:620px;

      figure{
        img{
          width: 200px;
        }
      }


      .ct-hotline{
        margin-bottom: 20px;
        h4{
          font-size: 22px;
          margin-bottom: 20px;
        }
        a{
          font-size: 22px;
        }
      }

    }
  }

}

.ct-s-footer-home{
  padding: 40px 0;
  border-top: 3px solid $mainColor;
  background-image: url(../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  .ct-b-container{
    margin-bottom: 15px;
    &::before, &::after{
      display: none;
    }
    .ct-b-head{
      margin-bottom: 20px;
      img{
        width: 250px;
        margin: 0 auto;
      }
    }
    .ct-b-body{
      color: white;
      max-width: 400px;
      p{
        padding-left: 30px;
        position: relative;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          font-size: 12px;
          color: white;
        }
        &::after{
          @include pseudo();
          left: 0;
          top: 50%;
          width: 18px;
          height: 15px;
          background-size: contain;
          background-repeat: no-repeat;
          @include transform(translate(0, -50%));
        }
        &.ct-address{
          &::after{
            background-image: url(../images/icon-home.png);
          }
        }
        &.ct-email{
          &::after{
            background-image: url(../images/icon-email.png);
          }
        }
        &.ct-web{
          &::after{
            background-image: url(../images/icon-web.svg);
          }
        }
        &.ct-phone{

          &::after{
            background-image: url(../images/icon-phone-f.png);
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    padding: 10px 0;
    background-color: $mainColor;
    color: black;
  }

  @include mq('desktop'){
    padding: 0;
    .ct-b-container{
      padding: 40px 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ct-b-body{
        p{
          padding-left: 45px;
          a{
            font-size: 16px;
          }
          &::after{
            width: 28px;
            height: 25px;
          }
          &.ct-phone{

          }
        }
      }
    }
  }
}