<!-- <div class="confirm-container"> -->
<!--This will contain the confirmation when the email is successfully sent-->
<!-- </div> -->
<form class="flexiContactForm contact-form" role="form" data-request="{{ contactForm  }}::onMailSent"
    data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">
    <div class="ct-form-field">
        <label for="name">{{'Họ tên' |_}}</label>
        <input type="text" name="name" placeholder="{{ 'Đầy đủ tên của bạn'|_}} *" required>
    </div>
    <div class="ct-form-field">
        <label for="phone">{{'Số điện thoại'|_ }}</label>
        <input type="text" name="phone" placeholder="{{ 'Số điện thoại '|_}} *" required>

    </div>
    <!-- <input type="submit" value="SEND"> -->
    <button class="ct-btn orange" rows="10" type="submit"> {{ 'Đăng ký' |_ }}</button>
</form>