description = "footer"
==
{% if general %}

{% partial "home-contact"%}
<footer class="section fp-auto-height" style="background-image: url({{general.background.path}})">
    <div class="ct-b-container">

    </div>
    <div class="copyright">
        <p>{{ general.copyright }}</p>
    </div>
</footer>
{% endif %}