description = "header"

==
{% if general %}
<header>
    <div class="ct-b-container">
        <figure>
            <a href="#trangchu">
                <img src="{{ 'assets/images/logo-white.png' | theme }}" alt="Facebook">
            </a>
        </figure>
        <div class="nav-center mobile-hide tablet-hide">
            <h5>{{'Sỡ hữu gói nội thất chuẩn Châu Âu'|_}} <span> {{'với giá 0đ'|_}}</span></h5>
            <a href="tel: 090.933.7777" class="ct-btn ct-btn-phone">
                <img src="{{'assets/images/phone-alt-solid.svg' | theme}}" alt="phone">
                090.933.7777
            </a>
            <a href="#lienhe" class="ct-btn">{{'Đăng ký tư vấn'| _}}</a>
        </div>
        <div class="nav-right">
            <ul class="ct-sns mobile-hide tablet-hide">
                <li>
                    <a href="https://www.youtube.com/channel/UCDvFNXYWUiknrZtx047N77w" target="_blank">
                        <img src="{{ 'assets/images/youtube-brands.svg' | theme }}" alt="youtube-brands">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/BBfurnishings" target="_blank">
                        <img src="{{ 'assets/images/facebook-f-brands.svg' | theme }}" alt="Facebook">
                    </a>
                </li>
            </ul>

            <a href="tel: 090.933.7777" class="ct-btn ct-btn-phone desktop-hide">
                <img src="{{'assets/images/phone-alt-solid.svg' | theme}}" alt="phone">
                090.933.7777
            </a>
            <div class="ct-lang">
                <span class="js-toggle-lang">
                    {% if activeLocale == 'vi'  %}
                    {{'Vi'|_}}
                    {% else %}
                    {{'En'|_}}
                    {% endif %}
                    <i class="fa fa-angle-down"></i>
                </span>

                <ul>
                    <li {% if activeLocale == 'vi'  %} class='active' {% endif %}>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vi'">
                            {{'Vi'|_}}
                        </a>
                    </li>
                    <li {% if activeLocale == 'en' %} class='active' {% endif %}>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">
                            {{'En'|_}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header>

<div class="ct-b-bottom-navi">
    <a href="#lienhe" class="ct-btn orange js-thamquan">{{'Đăng ký tư vấn'|_}}</a>
    <div class="ct-bottom-right">
        <ul class="ct-sns-mobile">
            <li>
                <a href="https://www.youtube.com/channel/UCDvFNXYWUiknrZtx047N77w" target="_blank">
                    <img src="{{ 'assets/images/youtube-brands.svg' | theme }}" alt="youtube-brands">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/BBfurnishings" target="_blank">
                    <img src="{{ 'assets/images/facebook-f-brands.svg' | theme }}" alt="Facebook">
                </a>
            </li>
        </ul>
        <a href="#trangchu" class="ct-back-to-top js-back-to-top">
            <img src="{{'assets/images/icon-arrow-top.png' | theme}}" alt="back to top">
        </a>
    </div>
</div>
{% endif %}