description = "Home contact"
==
<section class="section ct-s-section ct-s-contact-home ct-thamquan"
    style="background-image: url({{'assets/images/bg-contact.jpg' | theme}})">
    <div class="ct-b-container">
        <div class="ct-b-head ct-title">
            <figure>
                <img src="{{'assets/images/logo-white.png' | theme}}" alt="logo">
            </figure>
            <div class="ct-hotline">
                <h4>{{'Hotline' |_}}</h4>
                <a href="tel: 090.933.7777">090.933.7777</a>
                <a href="tel: 090.787.9999">090.787.9999</a>
                <a href="tel: 093.333.9082">093.333.9082</a>
            </div>
            <div class="ct-address">
                <p>{{'Showroom: 85-87 Nguyễn Cơ Thạch, khu đô thị Sala,
                    P. An Lợi Đông, Q.2, Tp. Hồ Chí Minh' |_}}h</p>
            </div>
        </div>
        <div class="ct-b-body">
            {% partial "contact-form" %}
        </div>
    </div>
</section>