description = "Home facilities"


[homePage]
==

<section class="section ct-s-section ct-s-lydoluachon"
    style="background-image: url({{'assets/images/bg-lydoluachon.jpg' | theme}})">
    <div class="ct-b-container">
        <div class="ct-b-body mobile-hide tablet-hide">
            <div class="ct-head ct-title">
                <h2>{{'LÝ DO CHỌN' |_}}</h2>
                <h3>{{'BB SMART DECORY' |_}}</h2>
            </div>
            <div class="ct-body">
                <div class="ct-row">
                    {% for item in homepage.lydoluachon %}
                    {% if loop.index <= 3 %}
                    <div class="ct-reason-item">
                        <img src="{{item.image | media}}" alt="reason">
                        <h5>{{item.text}}</h5>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="ct-row">
                    {% for item in homepage.lydoluachon %}
                    {% if loop.index > 3 %}
                    <div class="ct-reason-item">
                        <img src="{{item.image | media}}" alt="reason">
                        <h5>{{item.text}}</h5>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>
        </div>
        <div class="ct-b-body-mobile desktop-hide">
            <div class="ct-head ct-title">
                <h2>{{'LÝ DO CHỌN' |_}}</h2>
                <h3>{{'BB SMART DECOR' |_}}</h2>
            </div>
            <div class="ct-body ct-facilities-slider">
                <div class="ct-slide">
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[0].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[0].text}}</h5>
                    </div>
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[1].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[1].text}}</h5>
                    </div>
                </div>
                <div class="ct-slide">
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[2].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[2].text}}</h5>
                    </div>
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[3].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[3].text}}</h5>
                    </div>
                </div>
                <div class="ct-slide">
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[4].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[4].text}}</h5>
                    </div>
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[5].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[5].text}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="lydoluachon-bottom">
            <h4> <span>{{'Gói 5 Free' |_}}</span> {{'trị giá lên đến' |_}} <span>{{'100 triệu đồn' |_}}g</span>
            </h4>
            <div class="ct-list">
                <div class="ct-item">
                    {{'FREE Tư vấn' |_}}
                </div>
                <div class="ct-item">
                    {{'FREE Khảo sát' |_}}</div>
                <div class="ct-item">
                    {{'FREE Thiết kế 3D' |_}} </div>
                <div class="ct-item">
                    {{'FREE Giao hàng'|_}} </div>
                <div class="ct-item">
                    {{'FREE Lắp đặt'|_}} </div>
            </div>
        </div>
    </div>
</section>