description = "Home gallery"
[homePage]
[gallerycp]

==

<section class="section ct-s-section ct-s-gallery"
    style="background-image: url({{'assets/images/bg-gallery.jpg' | theme}})">
    <div class="ct-b-container">
        <div class="ct-b-head ct-title">
            <h2>{{'MẪU THIẾT KẾ BB SMART DECOR' |_}}</h2>
        </div>
        <div class="ct-b-body">
            <div class="slider-nav-gallery">
                <div class="ct-slide">
                    <h4>{{'Hình ảnh'|_}}</h4>
                </div>
                <div class="ct-slide">
                    <h4>{{'Video' |_}}</h4>
                </div>
            </div>
            <div class="slider-for-gallery">
                <div class="ct-content-gallery">
                    <div class="ct-slide-gallery">
                        {% for item in gallery.images %}
                        <div class="gallery-item js-img-popup">
                            <a href="{{item.image | media}}">
                                <img src="{{item.image | media}}" alt="gallery">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ct-content-gallery">
                    <div class="ct-slide-gallery-video">
                        <div class="slider-for-gallery-video">
                            {% for item in gallery.videos %}
                            <div class="videoWrapper">
                                <iframe
                                    src="http://www.youtube.com/embed/{{item.youtube_id}}?rel=0&hd=1" frameborder="0"
                                    allowfullscreen></iframe>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="slider-nav-gallery-video">
                            {% for item in gallery.videos %}
                            <img src="{{item.image | media}}" alt="gallery">
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>