title = "Website chính thức chủ đầu tư"
url = "/"
layout = "default"
[homePage]
is_hidden = 0
==

<?php 
function onStart() {
        $this->page->bodyClass = 'homepage';
    }

?>

==
<main id="fullpage">
    {% component 'homePage' %}
    {% if general %}

    <section class="section ct-s-footer-home fp-auto-height">
        <div class="ct-b-container">

            <div class="ct-b-head">
                <img src="{{'assets/images/logo-white.png' | theme}}" alt="logo">
            </div>
            <div class="ct-b-body">
                <p class="ct-address">{{'85-87 Nguyễn Cơ Thạch, khu đô thị Sala,
                    P. An Lợi Đông, Q2' |_}}</p>
                <p class="ct-email">info@bbsmartdecor.com</p>
                <p class="ct-web"><a href="http://bbfurnishings.com" target="_blank">http://bbfurnishings.com</a> </p>
                <p class="ct-phone"><a href="tel: 0909337777">090.933.7777</a>  | <a href="tel: 0907879999">090.787.9999</a> | <a href="tel: 0933339082">093.333.9082</a></p>
            </div>
        </div>
        <div class="copyright">
            <p>{{'copyright 2019 @ BB Smart Decor' |_}}</p>
        </div>
        </footer>

        {% endif %}

</main>