description = "default"

[general]

[localePicker]
forceUrl = 0

[contactForm]
injectBootstrapAssets = 0
injectMainScript = 1
==
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> BB Smart Decor | NỘI THẤT ĐO MAY THÔNG MINH ĐẾN TỪ Ý</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta property="og:type" content="web" />
    <meta property="og:url" content="http://http://noithatthongminh.bbsmartdecor.com" />
    <meta property="og:image" content="{{ 'assets/images/bbmart-bg.jpg.jpg'|theme }}" />

    <meta name="author" content="alipo">
    <meta name="generator" content="alipo">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        media="screen">
    <link href="{{ [
            '@framework.extras',
            'assets/css/slick-theme.css',
            'assets/css/slick.css',
            'assets/css/magnific-popup.min.css',
            'assets/css/fullpage.min.css',
            'assets/css/base.css',
        ]|theme }}" rel="stylesheet" media="screen" />
    {% styles %}
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-73730067-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-73730067-13');
</script>

</head>

<body class="{{ this.page.bodyClass }}">

    {% partial 'header' %}

    <!-- Content -->
    {% page %}
    <!-- Footer -->
    {% partial 'footer' %}

    <div class="confirm-container">
        <!--This will contain the confirmation when the email is successfully sent-->
    </div>
    <!-- Scripts -->
    <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/layout-controller.js',
            'assets/js/slick.min.js',
            'assets/js/scrolloverflow.min.js',
            'assets/js/jquery.fullpage.min.js',
            'assets/js/wait-for-images.js',
            'assets/js/jquery.magnific-popup.min.js',
            'assets/js/main.js',
        ]|theme }}"></script>
    {% framework extras %}
    {% scripts %}

</body>

</html>